<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <script src="https://kit.fontawesome.com/9cc4e295bc.js" crossorigin="anonymous"></script>
<style>
    .navbar-brand{
    background: url("../../Content/images/logo.png") no-repeat;
    background-size: auto 40px;
    height:40px;
    margin:5px;
    width:150px;
}
    .navbar{
 -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    z-index:999;
}

</style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>*@
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"> </a>
                <!-- partial:index.partial.html -->
                <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
                <!-- partial -->
                @*@Html.ActionLink("ACHIEVEMENT RATIO", "Index", "Home", new { area = "" }, new { @class = "navbar-brand glyphicon glyphicon-log-in" })*@
            </div>
                <div id="btnFullscreen" class='content'>
                    <div class='visible'>
                        <p>
                            Productivity
                        </p>
                        <ul>
                            <li>Achievement!</li>
                            <li>Ratio!</li>
                            <li>Ranking!</li>
                       
                        </ul>
                    </div>
              </div> 
            @*<div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>*@
        
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-xs-10">&copy; @DateTime.Now.Year - Productivity Achievement Ratio</div>
                <div class="col-xs-4"><i class="fa fa-users"></i><span class="badge badge-danger"><strong id="wrn">0</strong></span></div>
                </div>
</footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.4.1.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        var hub = $.connection.NotificationHub;
        $.connection.hub.start()
            .done(function () {
                console.log("Có một thím Online!");
            })
            .fail(function () {
                console.log("Không thể kết nối!");
            });
        hub.client.UpdateCount = function (count) {
            console.log(count);
            $("#wrn").text(count);
        }
    });
    </script> 
</body>
</html>
